/*general*/
html, body
{
    font-family: "raleway";
}
.flexcentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolonecentre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolonearound
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolonebetween
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bordurenone
{
    border: none;
}
.deconone
{
    text-decoration: none;
}
.textgras
{
    font-weight: bold ;
}
.colorlienbleu
{
    color: #0065fc;
}
.colorlienbleuclair
{
    color: #DEEBFF;
}
.colorliennoir
{
    color:black;
}
.colorliengris
{
    color: #f2f2f2;
}
.backbleu
{
    background-color: #0065fc;
}
.backbleuclair
{
    background-color: #DEEBFF;
}
.backgris
{
    background-color: #f2f2f2;
}
/*nav*/
.sizenav
{
   height: 100px;
}
.sizeliens
{
    width: 100%;
}
.sizelien
{
    width: 140px;
    height: 99px;
}
.sizelien12
{
    margin-left: 60%;
}
.bordurenav
{
    border-top:transparent solid 1px;
}
.bordurenav:hover
{
    border-top: #0065fc solid 1px;
    cursor: pointer;
}
.bordurenav:hover >a
{
    color: #0065fc;
}
.margelogo
{
    margin-bottom: 7px;
}
/*header*/
.borduresearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingsearch
{
    padding-left: 20px;
}
.recherche
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.boutonsearch
{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.boutonsearch:hover
{
    color: #0065fc;
    background-color: #f2f2f2;
}
/*filtres*/
.filtre
{
    display: flex;
    align-items: center;
}
.margfiltre
{
    margin-top: 50px;
    margin-bottom: 40px;
}
.margfiltretitre
{
    margin-right: 20px;
}
.filtretexticons
{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtretexticons:hover > .filtretext
{
    color: #0065fc;
}
.filtretexticons:hover > .filtreicons
{
    color: white;
    background-color: #0065fc;
} 
.filtretext
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreicons
{
    border: -2px;
    border-radius: 25px;  
    width: 52px;
    height: 52px; 
    color: #0065fc;
    background-color: #DEEBFF;
}
/*info icone*/
.info
{
    display: flex;
    align-items: center;
}
.parenticon
{
    width: 20px;
    height: 20px;
    border:2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*hebergement*/
.sizehebergement
{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizepopulaire
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.blochebergement
{
    padding-left: 20px;
    padding-right: 20px;

}
.bloc1
{
    margin-bottom: 10px;
}
.bloc2
{
    margin-top: 10px;
}
.cubehebergement
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.cubehebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.cubedetailheberge
{
    width: 90%;
}
.imghebergement1
{
    background-image: url("/images/hebergements/4_small/auberge_la_cannebiere.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergement2
{
    background-image: url("/images/hebergements/4_small/hotel_du_port.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergement3
{
    background-image: url("/images/hebergements/4_small/hotel_les_mouettes.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergement4
{
    background-image: url("/images/hebergements/4_small/hotel_de_la_mer.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergement5
{
    background-image: url("/images/hebergements/4_small/auberge_le_panier.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imghebergement6
{
    background-image: url("/images/hebergements/4_small/hotel_chez_amina.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
/*populaire*/
.blocpopulaire
{
    padding-left: 20px;
    padding-right: 20px;

}
.blocpopulaire12
{
    margin-bottom: 22px;
}
.cubepopulaire
{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubepopulaire:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.cubedetailpop
{
    width: 60%;
    padding-left: 5%;
}
.imgpop1
{
    background-image: url("/images/hebergements/4_small/hotel_le_soleil_malin.jpg");
   background-size: cover;
   background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgpop2
{
    background-image: url("/images/hebergements/4_small/au_coeur_de_l_eau.jpg");
   background-size: cover;
   background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgpop3
{
    background-image: url("/images/hebergements/4_small/hotel_tout_bleu_et_blanc.jpg");
   background-size: cover;
   background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/*activites*/
.activites
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocactivites
{
    width: 100%;
    height: 600px;
}
.blocactivites2356
{
    width: 23%;
    height: 100%;
}
/*reglage bloc*/
.cubeactivites
{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeactivites:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.cubeactivites2356:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.cubeactivites2356
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*fin reglage*/
.hauteurtitre
{
    height: 70px;
}
.titreactivites
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imgactivites1
{
    background-image: url("/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0px;
}
.imgactivites2
{
    background-image: url("/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0px;
}
.imgactivites3
{
    background-image: url("/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0px;
}
.imgactivites4
{
    background-image: url("/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0px;
}
.imgactivites5
{
    background-image: url("/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0px;
}
.imgactivites6
{
    background-image: url("/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
   background-size: cover;
   background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0px;
}
/*footer*/
.footer
{
    height: 300px;
    margin-top:100px;
}
.tailleblocfoot
{
    height: 150px;

}
.margblocfoot1
{
    margin-left: 5%;
}
.margblocfoot3
{
    margin-right: 15%;
}
.lienfoot
{
    color: black;
}
.divlienfoot
{
    height: 30px;
}
/*responsive*/
@media  screen and (max-width: 1295px)
{
    .sizelien12
    {
        margin-left: 35%;
    } 
    .cubedetailheberge
    {
        min-height: 150px;
    }
    .sizehebergement
    {
        min-height: auto;
        padding: 20px;
    }
    .sizepopulaire
    {
        min-height: auto;
        padding: 20px;
    }
    .tablettesizetitrepop
    {
        margin-top: 0;
    }
}
@media screen and (max-width:980px)
{
    .mobilefiltrewrap
    {
        flex-direction: column;
    }
}
    