/*general*/
.body
{
    font-family: "Raleway" sans-serif;
}
.flexcentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bordurenone
{
    border: none;
}
.deconone
{
    text-decoration: none;
}
.textgras
{
    font-weight: bold ;
}
.colorlienbleu
{
    color: #0065fc;
}
.colorlienbleuclair
{
    color: #DEEBFF;
}
.colorliengris
{
    color: #f2f2f2;
}
.backbleu
{
    background-color: #0065fc;
}
.backbleuclair
{
    background-color: #DEEBFF;
}
.backgris
{
    background-color: #f2f2f2;
}
/*nav*/
.sizenav
{
   height: 100px;
}
.sizeliens
{
    width: 45%;
}
.sizelien
{
    width: 140px;
    height: 99px;
}
.bordurenav
{
    border-top: #0065fc solid 1px;
}
.bordurenav23
{
    border-top: #f2f2f2 solid 1px;
}
.margelogo
{
    margin-bottom: 7px;
}
/*header*/
.borduresearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingsearch
{
    padding-left: 20px;
}
.recherche
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.boutonsearch
{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;

}